//light mode
$bg-color:#6096B4;
$primary-color:#93BFCF;
$postprimary-color:#BDCDD6;
$base-color: #EEE9DA;
//dark mode
$bg-color-dark: #10403B;
$primary-color-dark:#127369;
$postprimary-color-dark: #8AA6A3;
$base-color-dark:#4C5958;

